<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MyAppStatic/css/password_generator.css' %}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
    </style>
</head>
<body>
    <h1>Generate Your Password !</h1>
    <div class="full_content">
    <div class="image">
        <img src="{% static 'MyAppStatic/media/img.png' %}" height="500px" width="500px">
    </div>
    <div class="form_content">
        <form method="post">
        {% csrf_token %}
        <div class="form_class">
        <label for="length">Password Length:</label>
        <input type="number" id="length" name="length" min="4" max="50" value=""><br><br>

        <input type="checkbox" id="use_uppercase" name="use_uppercase">
        <label for="use_uppercase">Include Uppercase Letters</label><br>

        <input type="checkbox" id="use_numbers" name="use_numbers">
        <label for="use_numbers">Include Numbers</label><br>

        <input type="checkbox" id="use_symbols" name="use_symbols">
        <label for="use_symbols">Include Symbols</label><br><br>
        </div>

        <div class="buttons">
        <button type="submit">Generate Password</button>
        <button type="reset" onclick="clearAll()">Clear</button>
        </div>
        <div class="show_password">
                {% if generated_password %}
        <h2>Your Generated Password</h2>
        <p><strong>{{ generated_password }}</strong></p>
    {% endif %}
         </div>
    </form>
    </div>

    </div>

    <script>
    function clearAll() {
        // Clear all input fields and checkboxes
        document.getElementById("length").value = '';
        document.getElementById("use_uppercase").checked = false;
        document.getElementById("use_numbers").checked = false;
        document.getElementById("use_symbols").checked = false;
    }
    </script>
</body>
</html>


