body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #4faee5, #48bae7, #4bc5e6, #57d0e3, #69dae0, #6fe0e0, #76e6e0, #7eecdf, #78f0e2, #70f4e6, #68f7e9, #5ffbed);
    margin: 0;
    padding: 20px;
    height:100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
     font-family: "Playwrite GB S", cursive;

}

.full_content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}

.image {
    flex: 1;
    animation: fadeIn 1s ease-in;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    animation: moveImage 2s ease-in-out infinite alternate-reverse both

}

@keyframes moveImage {
   0%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(20px);
	}
}

.form_content {
    flex: 1;
    padding: 20px;
    margin-bottom:100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-in-out;
    margin-left: 20px; /* Space between image and form */
}

form .form_class{
 margin-left:200px;
}

label {
    margin-bottom: 5px;
    display: inline;
    font-weight: bold;
    color: #555;
    font-family: "Arima", system-ui;
}

input[type="number"],
input[type="checkbox"] {
    margin-bottom: 15px;
}

button {
    background-color: #329ddb;
    color: white;
    margin:10px 0;
    width:200px;
    margin-left:200px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size:16px;
    font-weight:bold;
}

button:hover {
    background-color: transparent;
    color:#329ddb;
    border:2px solid #329ddb;
    font-weight:bold;
}

.show_password {
    margin-top: 20px;
    animation: fadeIn 1s ease-in;
    text-align:center;

}
.show_password h2{
    color:#18ab42;
}

.show_password p {
 font-size:18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
